<div class="footer" style="background-color: #002f34;">
    {% load static %}
  
      <div style="position: relative;">
  
        <h1 class="text-center  pt-4" id="title_footer" style="color: aliceblue;">
          Ogloszeniak
        </h1>
        <h4 class="text-center pt-4 pb-4" id="text_footer" style="color: aliceblue;">
          Website was created by Ogloszeniak. 
        </h4>
        
        
      </div>
      <div class="footer_end mb-4" style="background-color: #cbf7ee;">
        <h3 class="font-weight-bold text-center mt-5 pt-5" style=" color: #23e5db;  font-family: 'Brush Script MT', cursive; font-size: 2rem;" >Ogłoszeniak</h3>
        <p class="mt-5 text-center pb-4" style="margin-left: 30%; margin-right: 30%;">
            Ogloszeniak.pl offers free local classifieds in categories like Fashion, Pets, Kids, Sports and Hobbies, Music, and Education. 
            Quickly find interesting ads and easily contact sellers. The site features job listings, apartments, rooms, cars, and more. 
            If you want to sell something, you can easily post free ads. Looking to buy? Discover great deals at lower prices than in stores.
             Sell and buy locally with Ogloszeniak.pl.
        </p>
        <div class="container text-center"> 
            <div class="col pb-4">
              <a href="https://www.facebook.com/" style=" margin-right: 40px;" target="_blank"><img src="{% static 'photos/facebook.png' %}"  href=""></a>
              <a href="https://www.instagram.com/" style=" margin-right: 40px;" target="_blank"><img src="{% static 'photos/instagram.png' %}" ></a>
              <a href="https://www.twitter.com/" target="_blank"><img src="{% static 'photos/twitter.png' %}"></a>
            </div>
          </div>
      </div>
    </div>
    
 