{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div>
  <link rel="stylesheet" href="{% static 'style.css' %}">

    <div class="grey_background search_field mb-4 mt-4 " >
        <div class="container mt-5 pt-5 pb-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find something for yourself" aria-label="Pierwsze pole">
                <input type="text" class="form-control" placeholder="Choose City" aria-label="Drugie pole">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="index_page_search_button">Szukaj</button>

                </div>
            </div>
        </div>
    </div>
    
    <div class="categories_h3_text">
        <h3 class="text-center mt-4 mb-4" style="color: #002f34;">Main Categories</h3>
        <div class="categories_cards">
            <div class="d-flex flex-wrap text-center justify-content-center">
                {% for category in categories %}
                {% if category.id == 9 or category.id == 15 %}
                <div class="p-2 w-100"></div> 
                {% else%}
                <div class="d-flex justify-content-center text-center">
                    <div class="p-2 card border-0 ps-5 pe-5 ms-3 me-3">
                        <a href="{% url 'products_category' category.name %}">
                        <img src="../media/{{ category.image_path }}" class="card-img-top rounded-circle text-center mx-auto" alt="{{d.id}}" style="width: 100px; height: 100px; background-color: {{category.image_background_color}};" >
                        <div class="card-body">
                        <h5 class="card-title ">{{category.name}}</h5>
                        </div>
                        </a>
                    </div>
                </div>
        
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="latest_listings pt-2">
        <h3 class="text-center mt-4 mb-4 mt-4" style="color: #002f34;">Latest listings</h3>
        <div class="latest_listings_cards">
            <div class="d-flex flex-wrap text-center justify-content-center mb-3"> 
                
                {% for product in products %}
                {% if forloop.counter0|divisibleby:4 %}
                </div>
                <div class="d-flex flex-wrap text-center justify-content-center pb-3"> 
                {% endif %}


                <div class="card me-3" style="width: 301px; height: 500px;">
                    <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top" src="../media/{{product.photo}}" alt="Card image cap" style="width: 301px; height: 350px;">
                    <div class="card-body">
                    <p class="card-text text-start" style="height: 30px;">{{product.title}}</p>
                    <p class="text-start product_price">{{product.price}} zł</p>
                    <p class="product_city text-start">{{product.city}}</p>

                    </div>
                    </a>
                </div>
                {% endfor %}
            
            </div>
        
        </div>


    </div>

</div>

{% endblock %}