{% extends 'base.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div>
    <div class="grey_background search_field mb-4 mt-4 " >
        <div class="container"> 
            <div class="search"> 
                <div class="row"> 
                    <div class="col-md-6"> 
                        <div class="search-1"> 
                            <i class='bx bx-search-alt'>

                            </i> 
                            <input type="text" placeholder="UX Designer"> 
                        </div> 
                    </div> 
                    <div class="col-md-6"> 
                        <div> 
                            <div class="search-2"> 
                                <i class='bx bxs-map' >

                                </i> <input type="text" placeholder="San Francisco,USA">
                                 <button>Search</button> 
                                </div> 
                            </div>
                         </div> 
                        </div> 
                    </div>
</div>
    </div>


</div>

{% endblock %}