{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %} 
<div class="container">
    <h2 class="mt-3" style="color: #002f34; font-size: 30px; font-weight: 700;">Messages</h2>
</div>
<section style="background-color: #F2F4F5;" class="mt-4">
    <div class="container border-bottom pt-4 pb-4" >
        <div class="row">
            <div class="col-4 me-3" style="height: 400px; background-color: white; width: 350px;">
                <div style="background-color: rgb(250, 251, 251); width: 350px; margin-left: -12px; height: 70px;" class="d-flex align-items-center" >
                    <button class="mt-1 ms-2 btn btn-success" style="width: 100px;" id="message_type_button">Buy</button>
                    <button class="mt-1 ms-2 btn btn-success" style="width: 100px;" id="message_type_button">Sell</button>
                </div>   
                <div style="height: 25px; color: #002f34; font-weight: 600;" class="mt-2 border-bottom" >
                    <p>Unread: </p>
                </div>
                <div style="background-color: rgb(250, 251, 251); width: 350px; margin-left: -12px; height: 30px;">
                    
                </div>
               
                <div style="height: 25px; color: #002f34; font-weight: 600;" class="mt-2 border-bottom" >
                    <p>Readed: </p>
                </div>
                <div style="background-color: rgb(250, 251, 251); width: 350px; margin-left: -12px; " class="mb-3">
                    <div class="row g-1">
                        <div class="col-3 ">
                            <img src="../media/products/szafa.jpg" alt="lisitng photo" class="rounded-circle  my-2 ms-2" style="width: 30px; height: 30px;">
                        </div>
                        <div class="col-8 " style="margin-left: -30px;">
                            <p class="text-start" style="color: grey; margin-top: -5px; "> xxxx</p>
                            <p class="text-start" style="color: #002f34; font-weight: 600; margin-top: -25px;"> xxxx</p>
                            <p class="text-start" style="color: #002f34; font-weight: 100; margin-top: -25px;"> xxxx</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7" style="height: 400px; background-color: white;">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}