#button_add {
    background-color: white; 
    color: #002f34;
    border: 5px solid white;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold; 
}

#button_add:hover {
    background-color: #002f34; 
    color: white;
    border: 20px;
    border: 5px solid white;
}

.a_nav:hover{
    color: blue;
}
div.grey_background {
    background-color: #F2F4F5;
}


